:root {
    --bg: #000000;
    --font: #ffffff;
    --ro-form-input-bg: #000000;
    --ro-form-input-border: #ffffff;
    --ro-form-btn-border: #ffffff;
    --ro-form-btn-bg: #000000;
    --ro-form-btn-hover: #362d2d;
    --sep-box-border: #ffffff;
}

.light-theme {
    --bg: #ffffff;
    --font: #000000;
    --ro-form-input-bg: #ffffff;
    --ro-form-input-border: #000000;
    --ro-form-btn-border: #000000;
    --ro-form-btn-bg: #ffffff;
    --ro-form-btn-hover: #e6e6e6;
    --sep-box-border: #000000;
}

* {
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--font);
    margin: 0;
    padding: 0;
    text-align: center;
}

#ro-form * {
    margin: 3px;
}

#ro-form input {
    background-color: var(--ro-form-input-bg);
    text-align: center;
    padding: 1;
    border-radius: 12px;
    border: var(--ro-form-input-border) solid 2px;
    width: 250px;
    height: 35px;
    font-size: medium;
    color: var(--font);
}

#ro-form button[type="submit"] {
    background-color: var(--ro-form-btn-bg);
    color: var(--font);
    border: var(--ro-form-btn-border) solid 2px;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 400ms;
}

#ro-form button[type="submit"]:hover {
    background-color: var(--ro-form-btn-hover);
}

.result-box {
    display: flex;
    margin-top: 10px;
    width: max-content;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.result-box * {
    margin: 2px;
}

.sep-box {
    border: 2px solid var(--sep-box-border);
    padding: 15px;
    border-radius: 0.6rem; /* 1rem = 16px */
    margin: 0.25;
}

@media (max-width: 440px) {
    .result-box {
        flex-direction: column;
        justify-content: center;

    }
}
